@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');	
            *{
                margin: 0;
                padding: 0;
                outline: 0;
                text-decoration: none;
                box-sizing: border-box;
            }
            body{
                font-family: 'Poppins', sans-serif;
                font-size: 14px;
                color: #1c1e21;
                font-weight: normal;
                background: #f8f8f8;
            }
            .loginsignup{
                padding: 120px;
            }
            .container{
                max-width: 992px;
                margin: auto;
            }
            .row{
                display: flex;
                flex-wrap: wrap;
            }
            .justify-content-between{
                justify-content: space-between;
            }
            .content-left{
                max-width: 500px;
                margin: auto;
            }
            .content-left h1{
                font-size: 40px;
                color: #030303;
                margin-bottom: 20px;
                font-weight: 600;
                text-shadow: -3px -3px 4px rgb(255,255,255),
                           3px 3px 4px rgba(230, 230, 230, 0.96);;
            }
            .content-left h2{
                font-size: 20px;
                line-height: 32px;
                font-weight: 300;
                margin-bottom: 40px;
            }
            .content-left{
                max-width: 450px;
                margin: auto;
                text-align: center;
            }
            .content-left form{
                width:  396px;
                height: 360px;
                background: #f8f8f8;
                padding: 16px;
                box-shadow: -5px -5px 10px rgb(255,255,255),
                           5px 5px 10px rgba(230,225,225,0.96);
                margin-bottom: 30px;
                    border-radius: 8px;
            }
            .content-left form input{
                width: 100%;
                height: 52px;
                background: #f8f8f8;
                padding: 0 15px;
                color: rgb(199, 198, 198);
                font-size: 17px;
                border: 1px solid #dddfe2;
                border-radius: 6px;
                margin-bottom: 15px;
                font-size: 17px;
            }
            ::placeholder
            {
                color: #9094b6;
            }
            
            .content-left form input:focus
            {
                border: 1px solid #ffffff;
                box-shadow: 0 0px 2px #ffffff ;
                
            }
            .btn{
                border-radius: 6px;
                font-size: 17px;
                line-height: 48px;
                padding: 0 16px;
                background: #00ff95;
                color: #fff;
                margin-bottom: 20px;
                text-transform: capitalize;
                font-weight: 500;
                box-shadow: -5px -5px 10px rgb(255,255,255),
                           5px 5px 10px rgba(230, 230, 230, 0.96);
            }
            .login a{
                display: block;
            }
            .create-btn a{
                display: inline-block;
                padding: 0 17px;
                background: #bfff11;
                transition: .3s;
            }
            .create-btn a:hover{
                background: #050505;
            }
            .login .btn:active
            {
                background: #f8f8f8;
                color: #f1f1f1;
            }
            
            .forgot a{
                font-size: 14px;
                line-height: 19px;
                color:#000000;
            }
            .forgot a:hover,
            .content-left p a:hover{
                text-decoration: underline;
            }
            .content-left p a{
                color: #1c1e21;
                font-weight: 600;
            }
            .line
            {
                align-items: center;
                border-bottom: 1px solid #dadde1;
                display: flex;
                margin: 20px 16px;
                text-align: center;
            }